html,body
{
    margin:0px;
    height: 100%;
}

section 
{
    height: 100%;
    display: flex;
}

section > div {
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-basis: 20%;
    transition: flex-basis 1s ease;
}
div:hover
{
    flex-basis: 100%;
    
}